
.table{margin-bottom:1.5rem;}
.table table{
    overflow: hidden;
    border-top: 2px solid #555;
    margin: 1.5rem 0 0.5rem;
    width: 100%;
}
.table table th{
    padding: 0.9rem;
	font-size: 16px;
    font-weight: 400;
	line-height: 1.3;
    border-bottom: 1px solid #ccc;
    text-align: center;
}
.table table td {
    width: 350px;
    min-height: 3.95rem;
    padding: 1rem 1.4rem;
    font-size: 16px;
	font-weight: 300;
    vertical-align: middle;
    border-bottom: 1px solid #ccc;
    text-align: center;
}
.table table td.title {text-align: left !important;}
.table table td.title > *{display: inline; }
.table table td.title>*, .board-view-header .board-view-tit h4,  .board-view-header .board-view-detail .detail-attr > *{
    font-family: 나눔스퀘어, 'NanumSquare', sans-serif;
}
.table table td.title>*:not(.comment_count){margin-right: 8px;}

.table table td.title .icon-lock{
    display:inline-block;
    width: 13px; height: 12px;}
table td.title .comment_count{font-size: 12px; font-weight: 600;}
.table table td.title .board-mobile-contents{display:none;}

.table table td .table-nodata-con{padding:2.5em 0;}





























/* board view (게시판 읽기)*/
.board-wrap{margin: 0 auto; border-top:2px solid;}
.board-view-header{border-bottom: 1px solid #ddd;}
.board-view-header>*{padding:0px 32px;}
.board-view-tit {padding:20px 32px 14px;}
.board-view-tit h4{font-size: 16px;}

.board-view-detail{display: flex; font-size: 14px; border-top: 1px solid #f1f1f1; background: #fafafa;}
.board-view-detail>* {display:flex; gap: 12px; padding: 12px 55px 12px 0px; color: #474747;}
.board-view-detail .detail-name {color:#888;}
.board-view-detail .subject-name{margin-right: 20px;     font-weight: 600;}

.detail-value{font-weight:400;}

.board-view-inner{
    padding: 30px 0px; min-height: 250px; 
    margin-top: 20px;
    border-bottom:1px solid #ddd;}
.board-view-inner .board-img-area{margin-bottom: 20px;}


/*  board_write (게시판 쓰기)*/
.board-write-inner{padding:20px 0; border-bottom:1px solid #242424;}
.board-write-inner .board-write-li{display:flex; padding:16px 32px 16px;}
.board-write-inner .board-write-li .subject-name{min-width:285px;}
.board-write-inner .board-write-li .subject-value{width: 100%;}
.board-write-inner .board-write-li .subject-value b{display: inline-block; width: 4%; text-align: center;}
.board-write-inner .board-write-li .subject-value .small{width:300px;}
.board-write-inner .board-write-li .subject-value input{height: 46px; padding-left: 20px;}
.board-write-inner .board-write-li .subject-value textarea{padding:20px;}
.board-write-inner .board-write-li .subject-value input, .board-write-inner .board-write-li .subject-value textarea{width: 100%; background:#f3f3f3; border:0; resize: none;}
.board-write-inner .board-write-li .subject-value .file input{height: 46px; background:0; padding: 0;}
.board-write-inner .board-write-li.tel .subject-value input{width: calc(92% / 3);}
.board-write-inner .board-write-li.email .subject-value input{width: calc(96% / 2);}
.board-write-inner .board-write-li .subject-value select{
    position:relative;
    width: 300px; height:46px;
    border:0; padding-left:20px;
    background: #f3f3f3 url(https://lbcontents.s3.ap-northeast-2.amazonaws.com/images/IPIACOSMETIC/icon-arrow-st2.png) no-repeat 90% 50%;
    background-size:12px 8px;}
.board-write-inner .board-write-detail{font-size: 14px;}

.write-wrap .tit-cont{margin-bottom: 20px !important;} 
.write-wrap .board-wrap{border-top: 0;}
.board-write-wrap .tit-name, .board-write-wrap .subject-name{line-height: 30px;}



/* 댓글창 */
.comment-wrap{
    margin: 0 auto;}
.comment{border-top: 1px solid #242424; border-bottom: 1px solid #f1f1f1; padding: 12px 0 10px;}
.comment>*{padding: 0 25px;}
.comment .comment-header{margin-bottom: 5px;}
.comment .comment-header *{font-weight:500; font-size: 14px; color: #474747;}

.comment .comment-body{}
.comment .comment-body .comment-list{
    border-top: 1px dotted;
    /* border-bottom: 1px dotted; */
}
.comment .comment-body .comment-list ul li{
    display:grid;
    grid-template-columns: 100px auto;
    grid-template-rows: 25px auto 25px;
    grid-row-gap:10px;}
.comment .comment-body i{font-size: 24px; margin-right: 5px;}
.comment .comment-body .comment-list ul li >*{}
.comment .comment-body .comment-list ul li textarea{background:#f9f9f9; height:initial !important;}
.comment .comment-body .comment-list ul li .comment-list-user{grid-column-start:1; display:flex;}
.comment .comment-body .comment-list ul li .comment-list-date{grid-column-start:2;}
.comment .comment-body .comment-list ul li .comment-list-content{grid-column:1/3; grid-row-start: 2; word-break: break-word; font-size: 14px;}
.comment .comment-body .comment-list ul li .comment-list-controller{grid-column:1/3; grid-row-start: 3;}
.comment .comment-body .comment-list ul li .comment-list-controller button{
    border-radius:0; box-shadow: none; background: #232323; color:#fff;
    padding: 0.2rem 0.5rem; font-size: 12px;
}
.comment .comments-form{padding:32px 30px;}
.comment .comments-form textarea{width: 100%; padding:10px; margin:0 auto;}
.comment .btn{background: #fff;}



/* 리스트 탭 */
.list_tap {
    margin-top: 32px;
}
.list_tap a {
    display: block;
    border-top: 1px solid rgba(128, 128, 128, 0.2);
    border-bottom: 1px solid rgba(128, 128, 128, 0.2);
    width: 100%;
    text-decoration: none;
    padding: 10px 12px;
    overflow: hidden;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.list_tap a i{font-size:12px;}
.list_tap a:first-child{    border-bottom:none;} 
.list_tap a span{margin-left: 5px; font-size: 14px !important;}
.icon-arrow-up:before {
    content: "\e607";
}
.icon-arrow-down:before {
    content: "\e604";
}












 /* ********************************************* *
 * 1024px max
 * ********************************************* */
@media (max-width:1024px){
    .table table th, .table table td{padding:0.75rem;}
}



 /* ********************************************* *
 * 768px max
 * ********************************************* */
 @media (max-width:768px){
    .table{
        margin: 0 auto 1.5rem;
    }
	
	.table table th{font-size: 16px;}
	.table table th.writer, .table table td.writer{ display: none;}
	.table table th:nth-child(1), .table table td:nth-child(1){width:5%;}
	.table table th:nth-child(2), .table table td:nth-child(2){width:55%;}
	.table table th:nth-child(2n-1), .table table td:nth-child(2n-1){width:20%;}
    .table table td{min-width:50px;}

 




 
    .board-view-header{padding: 12px 0;}
    .board-view-header>*{padding: 0px 10px;}
    .board-view-detail{display:block; margin-bottom: 2px; font-size: 13px; padding-top: 10px;}
    .board-view-inner{padding:0px 10px;}

    .board-wrap input {height: 26px;}


 }




   /* ********************************************* *
 * 560px max
 * ********************************************* */
@media (max-width:560px){
	 .table{overflow-x: scroll;}
	.table table th:nth-child(2), .table table td:nth-child(2) {
		min-width: 250px;
	}
}



  /* ********************************************* *
 * 480px max
 * ********************************************* */
 @media (max-width:480px)
 {
	 .board-view-tit{margin-bottom: 0;}
	 .board-view-tit h4{font-size: 17px !important;}

	.table table th {
		font-size: 15px;
	}
	.table table td {font-size: 16px;}
	.btn-box.write{margin-top:1.2em;}
 }